html,body{
    width: 750px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    background: #fff8d4;
}
.zebra-wrapper{
    width: 100%;
    height: 100%;;
}
.loading-wrapper,.homePage-wrapper,.gender-wrapper,.answer-wrapper,.result-wrapper,.share-wrapper,.active-wrapper,.information-wrapper,.result-boy1-wrapper,.result-boy2-wrapper,.result-boy3-wrapper,.result-girl1-wrapper,.result-girl2-wrapper,.result-girl3-wrapper{
    width: 100%;
    height: 100%;
}
.loading-wrapper{
    background: #fff8d4;
    text-align: center;
}
.loding-content{
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -102px;
    height: 204px;
}
.loading-car{
    margin-left: 250px;
    /* transform: translateX(-196px); */
}
/* loding汽车动效 */
.loading-car-active{
    transition: all linear 1s;
    transform: translateX(-194px);
}
.loading-line{
    height:10px;
    background: url(../img/loading-line.png)no-repeat center center;
}
.loding-text{
    margin-top: 38px;
    text-align: center;
    font-size: 30px;
    color: #3c3c3c;
}
/* 首页背景图动效 */
.homePage-wrapper{
    transition: 1s;
    background: url(../img/home-page-bg1.png)no-repeat center center;
}
.ani-slide .homePage-wrapper{
    transition-delay:.8s;
    background: url(../img/home-page-bg.png)no-repeat center center;
}
.homePage-content{
    width: 100%;
    height: 766px;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -383px;
}
/* 首页文字动效 */
.homePage-p1,.homePage-p2,.homePage-p3{
    margin-bottom: 24px;
    line-height: 72px;
    font-size: 36px;
    color: #373737;
    font-weight: bold;
    transition: all 1s;
    opacity: 0;
}
.ani-slide .homePage-p1{
    transition-delay:1.6s;
}
.ani-slide .homePage-p2{
    transition-delay:2.4s;
}
.ani-slide .homePage-p3{
    transition-delay:3.2s;
}
.ani-slide .homePage-p1,.ani-slide .homePage-p2,.ani-slide .homePage-p3{
    opacity: 1;
}
/* 首页按钮动效 */
.homePage-but{
    width: 411px;
    height: 80px;
    background: url(../img/homePage-but.png)no-repeat;
    margin: 33px auto 0;
    transition: all 1s;
    opacity: 0;
    transform: scale(0.5);
    position: relative;
}
.homePage-but1{
    background: transparent;
    outline: none;
    border: 0;
}
.home-icon{
    display: block;
    position: absolute;
    width: 71px;
    height: 52px;
    background: url(../img/hand.png) no-repeat;
    top: 14px;
    left: 20px;
    animation-name:myhand;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-delay:5s;
	animation-iteration-count:infinite;
	animation-play-state:running;
	/* Safari and Chrome: */
	-webkit-animation-name:myhand;
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-play-state:running;
}
/* 手指动画 */
@keyframes myhand
{
	0%   {left:20px;}
    25%  {left:30px;}
    50%  {left:15px;}
    75%  {left:30px;}
	100% {left:20px;}
}

@-webkit-keyframes myhand /* Safari and Chrome */
{
    0%   {left:20px;}
    25%  {left:30px;}
    50%  {left:15px;}
    75%  {left:30px;}
	100% {left:20px;}
}
.ani-slide .homePage-but{
    transition-delay:4s;
    opacity: 1;
    transform: scale(1)
}
.gender-wrapper{
    background:#e8edef url(../img/choose-bg.png)no-repeat center center;
}
.gender-content{
    width: 100%;
    height: 892px;
    position: absolute;
    top: 50%;
    margin-top: -446px;
    overflow: hidden;
}
/* 选择男女-男动画 */
.gender-boy{
    float: left;
    width: 237px;
    height: 774px;
    background: url(../img/boy-bg.png)no-repeat;
    margin-left: 110px;
    transition:all 1s;
    transform: translateX(-360px);
    opacity: 0;
}
.ani-slide .gender-boy{
    transform: translateX(0);
    opacity: 1;
}
/* 选择男女-女动画 */
.gender-girl{
    float: right;
    width: 276px;
    height: 774px;
    background: url(../img/girl-bg.png)no-repeat left bottom;
    margin-right: 85px;
    transition: all 1s;
    transform: translateX(365px);
    opacity: 0;
}
.ani-slide .gender-girl{
    transform: translateX(0px);
    opacity: 1;
}
/* 选择男女-按钮动画 */
.gender-boy-but,.gender-girl-but{
    width: 133px;
    height: 77px;
    margin-top: 40px;
    margin-left: 168px;
    transition: all 1s;
    opacity: 0;
    background-size: 100% 100%;
}
.ani-slide .gender-boy-but,.ani-slide .gender-girl-but{
    transition-delay:1s;
    opacity: 1;
}
.gender-boy-but{
    background: url(../img/btn-boy1.png)no-repeat;
    animation-name:myboy;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-delay:3s;
	animation-iteration-count:infinite;
	animation-play-state:running;
	/* Safari and Chrome: */
	-webkit-animation-name:myboy;
	-webkit-animation-duration:1.5s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-play-state:running;
}
.gender-girl-but{
    background: url(../img/btn-girl2.png)no-repeat;
    animation-name:mygirl;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-delay:3s;
	animation-iteration-count:infinite;
	animation-play-state:running;
	/* Safari and Chrome: */
	-webkit-animation-name:mygirl;
	-webkit-animation-duration:1.5s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-play-state:running;
}
/* 按钮男动画 */
@keyframes myboy
{
	0%   {transform: scale(1)}
	25%  {transform: scale(0.9)}
	50%  {transform: scale(1)}
	75%  {transform: scale(0.9)}
	100% {transform: scale(1)}
}

@-webkit-keyframes myboy /* Safari and Chrome */
{
	0%   {transform: scale(1)}
	25%  {transform: scale(0.9)}
	50%  {transform: scale(1)}
	75%  {transform: scale(0.9)}
	100% {transform: scale(1)}
}
/* 按钮女动画 */
@keyframes mygirl
{
	0%   {transform: scale(0.9)}
	25%  {transform: scale(1)}
	50%  {transform: scale(0.9)}
	75%  {transform: scale(1)}
	100% {transform: scale(0.9)}
}

@-webkit-keyframes mygirl /* Safari and Chrome */
{
	0%   {transform: scale(0.9)}
	25%  {transform: scale(1)}
	50%  {transform: scale(0.9)}
	75%  {transform: scale(1)}
	100% {transform: scale(0.9)}
}
.answer-page1,.answer-page2,.answer-page3,.answer-page4,.answer-page5{
    width: 100%;
    height: 100%;
    background:#e8edef url(../img/answer-wrapper-bg.png)no-repeat center center;
}
.answer-page-content{
    width: 558px;
    height: 716px;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 70px auto 122px;
}
.answer-page-paging{
    width: 87px;
    height: 87px;
    background: url(../img/answ-1.png)no-repeat;
    position: absolute;
    left: -66px;
    top: -38px;
}
.answer-page-face{
    width: 148px;
    height: 200px;
    background: url(../img/face-icon1.png)no-repeat;
    position: absolute;
    bottom: -216px;
    left: 72px;
}
.answer-page-boytopic{
    width: 495px;
    height: 101px;
    line-height: 76px;
    background: url(../img/bubble_1.png)no-repeat;
    margin-bottom: 40px;
    color: #373737;
    text-indent: 66px;
}
.answer-page-girltopic{
    width: 481px;
    height: 100px;
    line-height: 80px;
    background: url(../img/bubble_2.png)no-repeat;
    margin-bottom: 40px;
    margin-left: 50px;
    color: #737373;
    text-indent: 26px;
}
.answer-page-boyanswer{
    width: 558px;
    height: 298px;
    background: url(../img/bubble3.png)no-repeat;
    margin-bottom: 40px;
    color: #373737;
    text-align: left;
    padding: 34px 26px 34px 62px;
    box-sizing: border-box;
}
.answer-page-boyanswer li{
    list-style: none;
    padding-left: 42px;
    line-height: 28px;
    box-sizing: border-box;
    margin-bottom: 54px;
}
.answer-page-boyanswer li:nth-child(1){
    background: url(../img/shape1-2.png)no-repeat left top;
}
.answer-page-boyanswer li:nth-child(2){
    background: url(../img/shape2-2.png)no-repeat left top;
}
.answer-page-boyanswer li:nth-child(3){
    background: url(../img/shape3-2.png)no-repeat left top;
}
.answer-page-girlanswer{
    text-indent: 20px;
}
.answer-page-girlanswer,.answer-page2-girlanswer{
    width: 513px;
    height: 96px;
    line-height: 76px;
    background: url(../img/bubble_4.png)no-repeat;
    margin-left: 14px;
    color: #737373;
}
.answer-page-boy{
    position: absolute;
    width: 157px;
    height: 774px;
    background: url(../img/boy_bg1.png)no-repeat;
    left: -122px;
    bottom: -165px;
}
.answer-page-girl{
    position: absolute;
    width: 216px;
    height: 391px;
    background: url(../img/girl_bg1.png)no-repeat left bottom;
    right: -70px;
    bottom: -250px;
    
}
.answer-page2-paging,.answer-page3-paging,.answer-page4-paging,.answer-page5-paging{
    width: 87px;
    height: 87px;
    position: absolute;
    left: -66px;
    top: -38px;
}
.answer-page2-paging{
    background: url(../img/answer-2.png)no-repeat;
}
.answer-page2-face{
    width: 349px;
    height: 211px;
    background: url(../img/face-icon2.png)no-repeat;
    position: absolute;
    top: -211px;
    left: 104px;
}
.answer-page3-paging{
    background: url(../img/answer-3.png)no-repeat;
}
.answer-page4-paging{
    background: url(../img/answer-4.png)no-repeat;
}
.answer-page5-paging{
    background: url(../img/answer-5.png)no-repeat;
}
.answer-page3-face{
    width: 244px;
    height: 252px;
    background: url(../img/face-icon3.png)no-repeat;
    position: absolute;
    left: 253px;
    bottom: -297px;
}
.answer-page2-girltopic,.answer-page4-girltopic,.answer-page5-girltopic{
    width: 370px;
    height: 99px;
    line-height: 86px;
    background: url(../img/bubble_22.png)no-repeat;
    margin-bottom: 40px;
    margin-left: 160px;
    color: #737373;
}
.answer-page2-girltopic{
    text-indent: 74px;
}
.answer-page2-boyanswer,.answer-page4-boyanswer{
    width: 558px;
    height: 298px;
    background: url(../img/bubble3.png)no-repeat;
    margin-bottom: 40px;
    color: #373737;
    text-align: left;
    padding: 30px 26px 34px 62px;
    box-sizing: border-box;
}
.answer-page2-boyanswer li,.answer-page4-boyanswer li{
    list-style: none;
    padding-left: 42px;
    line-height: 31px;
    box-sizing: border-box;
}
.answer-page2-boyanswer li:nth-child(1),.answer-page4-boyanswer li:nth-child(1){
    background: url(../img/shape1-2.png)no-repeat left top;
    margin-bottom: 28px;
}
.answer-page2-boyanswer li:nth-child(2){
    background: url(../img/shape2-2.png)no-repeat left top;
    margin-bottom: 50px;
}
.answer-page2-boyanswer li:nth-child(3),.answer-page4-boyanswer li:nth-child(3){
    background: url(../img/shape3-2.png)no-repeat left top;
}
.answer-page2-girlanswer{
    text-indent: 45px;
}
.answer-page3-girlanswer{
    font-size: 24px;
}
.answer-page4-girltopic{
    text-indent: 122px;
}
.answer-page4-boyanswer li:nth-child(2){
    background: url(../img/shape2-2.png)no-repeat left top;
    margin-bottom: 25px;
}
.answer-page4-girlanswer{
    text-indent: 142px;
}
.answer-page4-face{
    width: 160px;
    height: 220px;
    background: url(../img/face-icon4.png)no-repeat;
    position: absolute;
    top: 28px;
    left: 446px;
}
.answer-page5-face{
    width: 224px;
    height: 197px;
    background: url(../img/face-icon5.png)no-repeat;
    position: absolute;
    top: -217px;
    left: 102px;
}
.answer-page5-boytopic{
    text-indent: 0;
    padding: 8px 34px 0 70px;
    font-size: 26px;
    line-height: 30px; 
    box-sizing: border-box;
}
.answer-page5-girltopic{
    text-indent: 134px;
}
.answer-page5-girlanswer{
    text-indent: 50px;
}
.result-boy1-wrapper{
    background: #fff url(../img/boy11.png)no-repeat center center;
    position: relative;
}
.result-boy2-wrapper{
    background: #fff url(../img/boy22.png)no-repeat center center;
    position: relative;
}
.result-boy3-wrapper{
    background: #fff url(../img/boy33.png)no-repeat center center;
}
.result-girl1-wrapper{
    background: #fff url(../img/girl11.png)no-repeat center center;
}
.result-girl2-wrapper{
    background: #fff url(../img/girl22.png)no-repeat center center;
}
.result-girl3-wrapper{
    background: #fff url(../img/girl33.png)no-repeat center center;
}
.result-boy1-wrapper::before,.result-boy2-wrapper::before,.result-girl2-wrapper::before,.result-girl3-wrapper::before{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 62px;
    bottom: 0px;
}
.result-boy1-wrapper::before{
    background: #e0d7d7;
}
.result-boy2-wrapper::before{
    background: #d6d9dd;
}
.result-girl2-wrapper::before{
    background: #c8c4d5;
}
.result-girl3-wrapper::before{
    background: #f3eeb4;
}
.result-girl1-wrapper::before{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 62px;
    top: 0px;
    background: #f1e3fa;
}
.result-save{
    position: absolute;
    left: 50%;
    margin-left: -101px;
    bottom: 17.77%;
    width: 202px;
	height: 22px;
	font-family: HYb1gj;
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30px;
	letter-spacing: 0px;
    color: #373737; 
}
.result-btn-wrapper{
    position: absolute;
    bottom: 10%;
    margin-left: 36px;
    width: 678px;
    height: 76px;
    font-size: 0;
}
.result-homepage{
    display: inline-block;
    vertical-align: top;
    width: 252px;
    height: 81px;
    background: url(../img/mind-btn.png) no-repeat;
    margin-right: 13px;
}
.result-active{
    display: inline-block;
    vertical-align: top;
    background: url(../img/active-btn.png) no-repeat;
    width: 150px;
    height: 81px;
    margin-right: 12px;
}
.result-join{
    display: inline-block;
    vertical-align: top;
    background: url(../img/join-btn.png) no-repeat;
    width: 251px;
	height: 81px;
}
.share-wrapper,.active-wrapper,.information-wrapper{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.share-wrapper{
    background: rgba(0, 0, 0, 0.75);
}
.share-content{
    position: absolute;
    top: 224px;
    right: 112px;
    width: 313px;
    height: 246px;
    background: url(../img/share-icon.png) no-repeat;
}
.active-wrapper,.information-wrapper{
    background: rgba(0, 0, 0, 0.45);
}
.avtive-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 660px;
    height: 945px;
    margin: auto;
    background: url(../img/bulletin-icon.png) no-repeat;
}
.active-car{
    position: absolute;
    width: 344px;
    height: 220px;
    left: 20px;
    background: url(../img/car-icon.png) no-repeat;
}
.information-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 507px;
    height: 861px;
    margin: auto;
    background: url(../img/textarea-bg.png) no-repeat;
}
.information-car{
    position: absolute;
    width: 346px;
    height: 209px;
    right: -100px;
    bottom: 0;
    background: url(../img/car-infor.png) no-repeat;
}
.information-title{
    width: 378px;
    height: 82px;
    font-family: HYb1gj;
    font-size: 37px;
    line-height: 47px;
    font-weight: bold;
    text-align: center;
    margin: 58px auto 0;
}
.information-text{
    width: 418px;
    font-family: HYb1gj;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin: 18px auto 26px;
}
.information-name,.information-phone,.information-province{
    width: 425px;
    height: 74px;
    margin: 0 auto 20px;
    font-size: 0;
    box-sizing: border-box;
}
.information-name,.information-phone{
    padding-left: 70px;
}
.information-name{
    background: url(../img/name-input.png) no-repeat;
}
.information-phone{
    background: url(../img/phone-input.png) no-repeat;
}
.information-name label,.information-phone label{
    display: inline-block;
    width: 54px;
    line-height: 74px;
    font-size: 27px;
}
.information-name input,.information-phone input{
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 27px;
    font-size: 27px;
    width: 286px;
    height: 60px;
    padding: 10px;
    background: #99c0f9;
    margin-bottom: 15px;
}
select::-ms-expand{ display: none; }
/* --火狐、谷歌清除--*/
select{
     appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;
}
.information-province select{
    background: url(../img/select-icon.png) no-repeat;
    border: none;
    width: 207px;
    height: 74px;
    box-sizing: border-box;
    padding: 0 20px;
    outline: none;
    font-size: 27px;
}
.information-province select:nth-child(1){
    margin-left: -2px;
    margin-right: 8px;
}
.information-agreen{
    width: 256px;
    margin: 0 auto;
    font-size: 20px;
}
.agreen-icon{
    display: inline-block;
    width: 28px;
    height: 30px;
    background: url(../img/agreen-icon.png) no-repeat;
    vertical-align: text-bottom;
    margin-right: 5px;
    margin-top: 5px;
}
.information-submit{
    width:203px;
    height: 64px;
    margin: 38px auto 0;
    background: url(../img/submit-icon.png) no-repeat;
}
.information-submit input{
    border: none;
    outline: none;
    width: 203px;
    height: 60px;
    background: transparent;
}